:root * {
    font-family: "Roboto", sans-serif;
}

#image-block {
    background-color: pink;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#image-block img {
    width: 40rem;
    height: 40rem;
    min-width: 40rem;
    min-height: 40rem;
}

#image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height:10rem;
    position: absolute;
    background-color: rgba(17, 3, 31, 0.7);
    color: white;
}

#image-overlay > * {
    margin: 0 3rem;
}

#logo {
    display: flex;
}

#logo div {
    margin: 0 -.75rem;
}

#g {
    color: rgb(149, 143, 160);
}

#four {
    position: relative;
    color: rgb(255, 220, 250);
    font-size: 9rem;
}

#a {
    color: rgb(190, 144, 188);
}

#image-overlay h1 {
    font-size: 6rem;
    line-height: 120%;
}

#image-overlay h3 {
    text-wrap: nowrap;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

#form-block {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 60vw;
    min-width: 32rem;
    color: white;
    background-color: purple;
    padding: 3rem;
    white-space: pre-line;
    overflow-y: auto;
    align-items: center;
}

#form-block h1, #form-block h3{
    text-align: center;
}

#form-block h1 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    line-height: 120%;
}

#form-block h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

#form-block form {
    display: flex;
    width: 28rem;
    border-radius: 20px;
    padding: 1rem 0 2rem 0;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px pink;
}

#form-block button {
    margin-top: 2rem;
    background-color: pink;
    border: none;
    border-radius: 15px;
    padding: .5rem 2rem;
    font-weight: 600;
}

#form-block button:active {
    filter:brightness(70%);
    transform: translateY(1px);
}

.label-input {
    margin: .5rem 0rem .5rem 0rem;
}

.label-input label {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: .5rem;
}

.label-input input {
    width: 23rem;
    border: 2px solid grey;
    border-radius: 15px;
    padding: .3rem 1rem;
}