:root * {
    font-family: "Roboto", sans-serif;
}

#image-block {
    background-color: pink;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

#image-block img {
    width: 40rem;
    height: 40rem;
    min-width: 40rem;
    min-height: 40rem;
}

#form-block {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 60vw;
    min-width: 30rem;
    color: white;
    background-color: purple;
    padding: 3rem;
    white-space: pre-line;
    overflow-y: auto;
}

#form-block h1 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    line-height: 120%;
}

#form-block h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

#form-block form {
    display: flex;
    flex-wrap: wrap;
}

.label-input {
    margin: 2rem 2rem 0rem 0rem;
}

.label-input label {
    font-size: 1.2rem;
}

.label-input input {
    width: min(40rem, 50vw);
}