:root * {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;

}

#base > * {
    min-height: 100vh;
}

#image-block {
    background-color: yellow;
    flex: 4 1 0;
}

img {
    height: max(10rem, 1000px);
}

#form-block {
    background-color: rgb(31, 34, 44);
    flex: 6 1 0;
    padding: 5rem;
}

label, p, h1, h3, legend {
    color: white;
}

h1 {
    font-size: 5rem;
}

form {
    margin: 3rem;
}

#fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

legend {
    font-weight: bold;
    font-size: 1.2rem;
}

label {
    display: inline-block;
    width: 9rem;
    margin: 0.5rem;
}

form p {
    white-space: nowrap;
}

form input, form button {
    color: black;
}

form button {
    margin-top: 1rem;
    margin-left: 2rem;
}

input {
    width: 20rem;
}

@media only screen and (max-width: 600px) {
    #base {
        flex-direction: column;
    }

    h1{
        font-size: 3rem;
    }

    #image-block{
        min-height: 20vh;
    }
}